.vscode/**
.vscode-test/**
src/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.claude/**
.github/**
hoge.md
eslint.config.js
vitest.config.ts
vitest.config.js
vitest.config.js.map
coverage/**

images/logo-original.png
